[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow-providers-oracle = "==3.5.1"
apache-airflow-providers-jdbc = "==3.3.0"
cx-oracle = "*"
oracledb = "*"
jaydebeapi = "*"
apache-airflow = "*"

[dev-packages]

[requires]
python_version = "3.10"
