[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow-providers-oracle = "==3.5.1"
apache-airflow-providers-jdbc = "==3.3.0"
cx-oracle = "==8.3.0"
oracledb = "==1.2.1"
jaydebeapi = "==1.2.3"
apache-airflow = "==2.5.0"
sqlalchemy-jdbcapi = "==1.2.2"

[dev-packages]

[requires]
python_version = "3.10"
